<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="shortcut icon" href="/assets/media/image/favicon.png"/>
    <link rel="stylesheet" href="/vendors/bundle.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/app.min.css" type="text/css">
</head>
<body class="form-membership">
<div class="form-wrapper">
    <div id="logo">
        <a th:href="@{/}">
            <img class="logo" src="/assets/media/image/logo.png" alt="image">
            <img class="logo-dark" src="/assets/media/image/logo-dark.png" alt="image">
        </a>
    </div>
    <div>
        <div class="flex-column">
            <div class="form-group">
                <input id="user_name" type="text" class="form-control" placeholder="用户名" required autofocus>
            </div>
            <div class="form-group">
                <input type="password" id="user_password" class="form-control" placeholder="旧密码" required autofocus>
            </div>
            <div class="form-group">
                <input type="password" id="user_new_password" class="form-control" placeholder="新密码" required autofocus>
            </div>
            <div class="form-group">
                <input type="password" id="user_new_password_verify" class="form-control" placeholder="确认新密码" required autofocus>
            </div>
        </div>
        <div><font id="remind"></font></div>
        <br>
        <button class="btn btn-primary btn-block" id="register_user">修改密码</button>
    </div>
</div>
</body>
<script src="/vendors/bundle.js"></script>
<script src="/assets/js/app.min.js"></script>
<script>
    $("#register_user").click(function () {
        if($("#user_new_password").val()!=$("#user_new_password_verify").val()){
            $("#remind").html("两次密码输入不一致").css("color", "#dc143c");
            return;
        }
        $.ajax({
            url: "/user/resetPassword",
            type: "post",
            data: {
                name:$("#user_name").val(),
                password:$("#user_password").val(),
                newPassword: $("#user_new_password").val()
            },
            dataType: "json",
            success: function (data) {
                if(data.flag) {
                    $("#remind").html("修改成功").css("color", "#38a81b");
                }else {
                    $("#remind").html(data.msg).css("color", "#dc143c");
                }
            },
            error: function () {
                $("#remind").html("请求失败, 请稍后再试").css("color", "#dc143c");
            }
        });
    });
</script>
</html>