<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <link rel="shortcut icon" href="assets/media/image/favicon.png" />
    <link rel="stylesheet" href="vendors/bundle.css" type="text/css">
    <link rel="stylesheet" href="assets/css/app.min.css" type="text/css">
</head>

<body class="stretch-layout sticky-navigation shadow-layout">
    <div th:replace="~{commons/commons::side-nav-bar}"></div>
    <div id="main">
        <div th:replace="~{commons/commons::top-nav-bar}"></div>
        <main class="main-content">
            <div class="container">
                <div class="row">
                    <div class="card text-center col-md-12">
                        <div class="card-body">
                            <div class="app-sidebar">
                                <span>敬请期待</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="~{commons/commons::bottom-footer-bar}"></div>
    </div>
    <script src="vendors/bundle.js"></script>
    <script src="assets/js/app.js"></script>
</body>
<script th:replace="~{commons/commons::init_user_info}"></script>
<script>
    let magnificPopupGalleryConfig = {
        type: 'image',
        gallery: {
            enabled: true
        },
        zoom: {
            enabled: true,
            duration: 300,
            easing: 'ease-in-out',
            opener: function(openerElement) {
                return openerElement.is('img') ? openerElement : openerElement.find('img');
            }
        }
    };

</script>

</html>