<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <link href="/plugins/toast/jquery.toast.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/plugins/toast/jquery.toast.js"></script>
</head>
<body>
    <h1></h1>
    <button onclick="showMsg('登录失败','error',3000)">Button</button>
    <button id="bt" name="a" onclick="A()">Button</button>
    <button id="bt2" name="a">Button B</button>
    <div id="div-test"></div>
    <p id="text"></p>
    <table>
        <thead id="table_head">
            <tr>
                <td>id</td>
                <td>2</td>
            </tr>
        </thead>
        <tbody  id="table_body">
        </tbody>
    </table>
</body>

<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            url:"/t/test2",
            type:"post",
            data:{
                id:1,
            },
            dataType:"json",
            success:function (data) {
                showMsg({
                    text : data.data,
                    icon : "info",
                    hideAfter: "3000"
                });
                let r;
                for(let i = 0 ; i < data.data.length ; i++) {
                    r +="<tr>"+
                        "<td>" +data.data[i].id+ "</td>"+
                        "<td>" +data.data[i].isFavour+ "</td>"+
                        "<td>" +data.data[i].pictureCreateDate+ "</td>"+
                        "<td>" +data.data[i].pictureName+ "</td>"+
                        "<td>" +data.data[i].picturePath+ "</td>"+
                        "<td>" +data.data[i].pictureSize+ "</td>"+
                        "<td>" +data.data[i].pictureSuffix+ "</td>"+
                        "<td>" +data.data[i].pictureType+ "</td>"+
                        "</tr>";
                }
                $("#table_body").html(r);
            },
            error:function () {
                showMsg({
                    text : "失败",
                    icon : "error",
                    hideAfter: "3000"
                });
            }
        })
    });
    $("button[name='a']").click(function () {
        $.ajax({
            url : "/test/ajax",
            type : "post",
            data : {
                id : 'asdasdasdad'+this.innerText,
            },
            dataType : "json",
            success : function(data) {
                if (data.flag == true) {
                    $("#div-test").html("<div>"+ data.msg +"</div>");
                    showMsg({
                        text : data.msg,
                        icon : "info",
                        hideAfter: "3000"
                    });
                } else {

                }
            }
        });
    })

    function showMsg(object) {
        if (heading == undefined) {
            var heading = "提示";
        }
        $.toast({
            text: object.text,//消息提示框的内容。
            heading: heading,//消息提示框的标题。
            icon: object.icon,//消息提示框的图标样式。
            showHideTransition: 'fade',//消息提示框的动画效果。可取值：plain，fade，slide。
            allowToastClose: true,//是否显示关闭按钮。(true 显示，false 不显示)
            hideAfter: object.hideAfter,//设置为false则消息提示框不自动关闭.设置为一个数值则在指定的毫秒之后自动关闭消息提框
            stack: 1,//消息栈。同时允许的提示框数量
            position: 'top-center',//消息提示框的位置：bottom-left, bottom-right,bottom-center,top-left,top-right,top-center,mid-center。
            textAlign: 'left',//文本对齐：left, right, center。
            loader: true,//是否显示加载条
            //bgColor: '#FF1356',//背景颜色。
            //textColor: '#eee',//文字颜色。
            loaderBg: '#2dadd2',//加载条的背景颜色。

            beforeShow: function(){

            },

            afterShown: function () {

            },

            beforeHide: function () {

            },

            afterHidden: function () {

            }

            /*toast事件
            beforeShow 会在toast即将出现之前触发
            afterShown 会在toast出现后触发
            beforeHide 会在toast藏起来之前触发
            afterHidden 会在toast藏起来后被触发
            */
        });
    }
</script>
</html>