<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxtack.materialc.mapper.DeleteMessageMapper">
    <resultMap id="BaseResultMap" type="com.fxtack.materialc.entity.format.FormatDeleteMessage">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="file_path" jdbcType="VARCHAR" property="filePath"/>
        <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
    </resultMap>
    <sql id="BaseColumnList">
        id, file_path, begin_time, end_time
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"></include>
        from delete_message
    </select>

    <delete id="deleteAll" parameterType="com.fxtack.materialc.entity.format.FormatDeleteMessage">
        delete from delete_message
    </delete>

    <insert id="multipleInsert" parameterType="com.fxtack.materialc.entity.format.FormatDeleteMessage">
        insert into delete_message(
        file_path,
        begin_time,
        end_time
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.filePath, jdbcType=VARCHAR},
            #{item.beginTime, jdbcType=VARCHAR},
            #{item.endTime, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
</mapper>